@charset "utf-8";
/* CSS Document */

h2	{
	font-size: 20px;
	font-weight: lighter;
	color: #E17E16;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	text-transform: none;
}
h3	{
	font-size: 12px;
	font-weight: bold;
	color: #E88B24;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-transform: none;
	text-decoration: underline;
}
h4	{
	font-size: 16px;
	font-weight: normal;
	color: #EBBCDA;
	font-style: normal;
	text-decoration: none;
	text-align: left;
	margin-bottom: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
h5	{
	font-size: 12px;
	font-weight: lighter;
	color: #000;
	margin: 0px;
	line-height: normal;
}
h6	{
	font-size: 12px;
	font-weight: lighter;
	color: #000;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	font-style: italic;
}
ul	{
	color: #474747;
	text-align: left;
	font-size: 11px;
	line-height: 15px;
	text-indent: 0px;
	margin: 0px;
}
p	{
	color: #312E1A;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	text-align: justify;
	font-size: 11px;
	line-height: 20px;
	padding: 0px;
}
p a	{
	color: #D55B08;
	text-decoration: underline;
}
p a:hover	{
	color: #900;
	text-decoration: underline;
}
.small	{
	margin: 0px;
	padding: 0px;
	color: #FFF;
	line-height: normal;
}
.small a	{
	color: #FFF;
	text-decoration: underline;
}
.small a:hover	{
	color: #DD8FBF;
	text-decoration: underline;
}
.small_middle	{
	margin: 0px;
	padding: 0px;
	color: #999;
	line-height: normal;
	text-align: center;
}
.small_right	{
	padding: 0px;
	color: #FFF;
	line-height: normal;
	text-align: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.small_right	a	{
	color: #FFF;
}
.small_right	a:hover	{
	color: #000;
}
.text	{
	float: left;
	height: auto;
	width: 100%;
	margin-bottom: 20px;
}
.text2	{
	float: left;
	height: auto;
	width: 306px;
}
.space	{
	float: left;
	height: 450px;
	width: 1px;
	background-color: #CCC;
	margin-right: 10px;
	margin-left: 10px;
}
.footer_text_left	{
	height: auto;
	width: 940px;
	color: #FFF;
	font-size: 10px;
	font-style: normal;
	text-align: center;
	margin-top: 20px;
	margin-left: 0px;
	float: right;
	margin-right: 20px;
}
.footer_text_right	{
	float: left;
	height: auto;
	min-height: 90px;
	width: 400px;
	color: #FFF;
	font-size: 10px;
	font-style: normal;
	text-align: center;
	padding-left: 20px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
	margin-top: 20px;
	padding-right: 20px;
}
