@charset "utf-8";
/* CSS Document */

body	{
	font-family: Verdana, Geneva, sans-serif;
	border-top: 0px;
	vertical-align: top;
	margin: auto;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	background-color: #FFF;
}

.wrapper {
	height: auto;
	width: 960px;
	margin: auto;
	border-top: 0px;
	vertical-align: top;
}
.top_logo	{
	float: left;
	height: 138px;
	width: 960px;
	background-image: url(../images/logo_banner.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.top_banner	{
	float: left;
	height: 234px;
	width: 960px;
	background-image: url(../images/image_banner.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.top_text	{
	float: left;
	height: 78px;
	width: 960px;
	background-image: url(../images/tet_banner.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.content	{
	float: left;
	height: 480px;
	width: 960px;
	background-color: #FFF;
	padding: 0px;
}
.back_right	{
	float: left;
	height: 520px;
	width: 120px;
}
.footer_left	{
	float: left;
	height: 127px;
	width: 120px;
	background-image: url(../images/FOOTER_LEFT.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
.footer		{
	float: left;
	height: 70px;
	width: 960px;
	background-image: url(../images/FOOTER.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-color: #DC7614;
}
.footer_right	{
	float: left;
	height: 127px;
	width: 120px;
}
.bottom	{
	float: left;
	height: 53px;
	width: 560px;
	background-image: url(../images/BOTTOM.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	background-color: #D980B6;
	padding-left: 640px;
}
